@media (max-width: 767px) {
	/*=============header=============*/
	.lock {
		overflow: hidden;
	}

	.header {
		max-height: 40px;
		z-index: 100;

		background-color: rgba(0, 0, 0, 90);
	}

	.container {
		padding: 0;
	}
	.heder-wrap {
		height: 40px;
		padding: 0;
	}

	.header-logo {
		padding-left: 10px;
	}
	.header-nav {
		position: relative;
		height: 40px;

		.header-nav__list {
			width: 100vw;
			height: 0;
			padding-top: 9px;
			padding-bottom: 50px;
			text-align: right;

			position: absolute;
			top: -200%;
			right: 0;

			overflow: auto;
			background-color: #09161c;
			transition: all 0.2s;
			z-index: -1;
		}

		& li {
			display: block;
			margin-left: 0;
			margin-bottom: 10px;
		}
	}

	.header-link {
		@include font(1em, 300, $color-width);
		display: block;
		padding: 20px 30px 19px;
	}

	/*=============burger menu=============*/
	.header-burger {
		position: relative;
		width: 40px;
		height: 40px;
		margin-right: 10px;

		&::after {
			content: "";
			width: 100%;
			height: 2px;

			position: absolute;
			top: 19px;
			left: 0;
			background-color: #fff;
			transition: all 0.2s;
		}
	}

	.header-burger__burger-menu {
		&::before,
		&::after {
			content: "";
			width: 100%;
			height: 2px;
			position: absolute;
			left: 0;

			background-color: #fff;
			transition: all 0.2s;
		}

		&::before {
			top: 9px;
		}
		&::after {
			bottom: 9px;
		}
	}

	//________________active-burger________________
	.active-burger.active-burger {
		display: inline;
	}

	.header-burger__burger-menu.active-burger--rotate::before {
		top: 19px;
		transform: rotate(45deg);
	}

	.header-burger__burger-menu.active-burger--rotate::after {
		bottom: 19px;
		transform: rotate(-45deg);
	}

	.header-burger.active-burger--rotate::after {
		transform: scale(0);
	}

	.header-nav__list.active-burger {
		top: 100%;
		height: 70vh;
	}

	/*=============intro=============*/
	.intro-container {
		height: 900px;
		//background-color: #146856;
	}

	.request {
		width: 97%;
		margin: 0 auto;
		bottom: 30px;
	}

	.ampersand-container {
		max-width: 376px;

		position: absolute;
		top: 60px;
		left: 0;
		margin: 0 auto;
	}

	.ampersand-container__subtitle {
		//font-size: 80px;
	}

	.ampersand-container__title {
		font-size: 80px;
	}

	/*=============services=============*/
	.services {
		margin-top: 300px;
	}

	.padding-page {
		padding: 0 3%;
	}

	.services__container {
		justify-content: center;
	}

	/*=============Our Clients=============*/
	.about-ceo {
		margin-bottom: 35px;
	}

	.brands-logo img {
		max-width: 200px;
	}

	/*=============benefits=============*/
	.wraper {
		flex-wrap: wrap-reverse;
	}

	.benefits-colum {
		flex: 1 1 auto;
		max-width: 100%;
		margin-top: 60px;
	}

	.benefits-list {
		max-width: 100%;
	}

	/*=============our-team=============*/

	.aur-teem__wraper {
		justify-content: center;
	}

	.aur-teem-card {
		flex: 1 1 auto;
		width: calc(100% / 2.5);
		max-width: 306px;
	}

	/*=============mission=============*/
	.mission {
		font-size: 4.5em;
		line-height: 1;
	}

	.mission-wraper {
		margin: 0;
	}

	.mission-container {
		top: -20px;
	}

	.mission-container__title {
		@include font(0.25em, 900, $color-title-text);
		font-family: inherit;
	}

	.aur-teem__button {
		@include font(0.3em, bold, $color-width);

		//padding mast be 12px 45px
		padding: 0.666em 2.5em;
	}

	/*=============footer=============*/
	.footer {
		background-image: none;
	}
}
