/*=============import files=============*/
@import "./null/nullstyle.scss";

//font PT Sans____________________
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

//font Lato____________________
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

//variable____________________
@import "./variable.scss";

//mixins____________________
@import "./mixins.scss";

//tamplates____________________
@import "./tamplates.scss";

//________________/import files________________

html {
	@include font(15px, 300, $color-width);
}

body {
	@include font(1rem, 300, $color-main-text);
}

/*=============header=============*/
.header {
	position: fixed;
	width: 100%;
	height: 80px;

	z-index: 5;
	background-color: rgba(0, 0, 0, 0.479);
}

//central container
.container {
	max-width: 1300px;
	height: auto;
	margin: 0 auto;
}

.heder-wrap {
	display: flex;
	height: 80px;
	padding: 0 30px;

	align-items: center;
	justify-content: space-between;
}

.header-nav {
	& li {
		display: inline;
		margin-left: 1em;
	}
}

.header-link {
	@include font(1em, 300, $color-width);
	padding: 2em 1em;
}

.link-active {
	background-color: $color-main;
}

/*=============intro=============*/
.intro {
	width: 100%;
	height: 600px;

	background: url(../img/intro-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.intro-background {
	width: 100%;
	margin: 0 auto;
	object-fit: cover;
}

.intro__wraper {
	display: flex;
	align-items: end;

	width: 100%;
	min-height: 600px;

	//background-color: rgba(88, 25, 25, 0.829);
}

.intro-container {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: end;
	width: 1300px;
	height: 500px;

	//background-color: #275017ce;
}

//________________request-form________________
.request {
	@include font(1rem, 300, $color-width);
	position: relative;
	bottom: -31px;
	max-width: 400px;
	min-height: 450px;

	overflow: hidden;
	border-radius: 0.333em;
	background-color: $color-main;
	z-index: 1;
}

.request__header {
	padding: 20px 30px;
	margin-bottom: 25px;

	background-color: #033fc9;
}

.request__title {
	@include font(2em, 900, $color-width);
}

.request-form {
	max-width: 400px;
	margin: 0 30px;
	padding: 0;
}

.request__container {
	width: 100%;
}

.request-form__items {
	display: flex;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.request-form__icons {
	max-width: 15px;
	max-height: 15px;

	margin-top: 8.25px;
	margin-bottom: 8.25px;
	margin-left: 17px;
	margin-right: 15px;
}

.request-form__input {
	@include font(1.066666em, 300, $color-width);

	width: 100%;
	height: 33px;
	margin-bottom: 10px;

	background: none;

	//.request-form__input::placeholder
	&::placeholder {
		@include font(1.066666em, 300, $color-width);
	}
}

//________________buttom form________________
.request-form__button {
	//button style with gradient end border radius 5px "0.333em"
	@extend %button_style;
	@include font(1.2em, 900, $color-width);

	padding: 0.611em;
	margin-bottom: 30px;
	&:hover {
	}
}

//________________ampersand________________
.ampersand-container {
	position: relative;
	right: 30px;
	max-width: 450px;
	max-height: 300px;
	text-align: end;
	margin-bottom: 52px;

	//background-color: #162f31;
}

.ampersand-container__subtitle {
	@include font(1em, 300, $color-width-opasity);

	//background-color: #31161e;
}

.ampersand-symbol {
	@include font(11.333em, 900, rgba(255, 255, 255, 0.2));
	font-family: "Lato", sans-serif;
	line-height: 0.9;

	max-width: 123;
	height: 130px;

	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);

	//background: #3552428c;
}

.ampersand-container__title {
	@include font(6.333em, bold, $color-width-opasity);
	font-family: "Lato", sans-serif;
	line-height: 0.91;
	padding-right: 3px;
}

/*=============services=============*/

.services {
	width: 100%;

	margin-top: 50px;

	//background-color: rgb(0, 128, 21);
}

.services__container {
	display: flex;
	flex-wrap: wrap;

	max-width: 1200px;
	min-height: 300px;
	margin: 0 auto;
	padding: 30px 0 0 0;

	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

//________________serveces cards________________
.serveces-cards {
	@include font(1em, 300, #000);
	font-family: "Lato", sans-serif;
	display: flex;

	flex-direction: column;

	width: (100% / 4);

	min-width: 240px;
	margin-bottom: 20px;
	padding-left: 50px;
}

.serveces-cards__item {
	flex: 1 1 auto;
}

.serveces-cards__title {
	@include font(1.6em, bold, #000);

	margin-bottom: 20px;
}

.serveces-cards__text {
	margin-bottom: 20px;
}

//________________service title________________
.service__title {
	@include font(5em, 900, rgba(44, 44, 44, 0.05));
	font-family: "Lato", sans-serif;
	line-height: 1;
	text-align: right;

	display: inline-block;
	width: 100%;
	margin-right: 30px;
	margin-bottom: 13px;
	pointer-events: none;
}

@import "./media.scss";
