%action_link {
	background-color: $color-main;
}

//стиль оранживой кнопки с градиентом
%button_style--aafter--hover {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 1rem;
	color: $color-width;
	position: relative;

	z-index: 1;
	overflow: hidden;
	border-radius: 0.333em;
	background-image: linear-gradient(to right, $gradient-color);
	transition: all 0.5s;

	&::after {
		content: "";
		width: 0%;
		height: 100%;

		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		transition: all 0.5s;
	}

	&:hover::after {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		transition: all 0.5s;
		background-color: $color-fill-button;
	}
}

//Подчеркивание с низу
%underline_link {
	content: "";
	width: 10px;
	height: 2px;

	position: absolute;
	bottom: 0;
	left: 0;

	background-color: $color-main;
	transition: all 0.2s;
}

%button_h {
	width: 100%;
}
