%action_link {
	background-color: $color-main;
}

//стиль оранживой кнопки с градиентом
%button_style {
	width: 100%;
	font-size: 1rem;

	border-radius: 0.333em;
	background-image: linear-gradient(to right, $gradient-color);
}

%button_hover-selector {
}

%button_hover {
	position: absolute;
	top: 0;
	left: 0;

	width: 0%;
	height: 100%;

	transition: all 0.5s;
	background-color: $color-fill-button;
	z-index: 1;
}

//Подчеркивание с низу
%underline_link {
	content: "";
	width: 10px;
	height: 2px;

	position: absolute;
	bottom: 0;
	left: 0;

	background-color: $color-main;
}
