// color variable____________________
$color-width: #fff;
$color-width-opasity: rgba(255, 255, 255, 0.8);
//blue color page
$color-main: #004af2;
//blue-darken color page
$color-main-darken: #033fc9;
$color-main-text: #000;
//gradiet use button
$gradient-color: #ff903e, #ff2c2c;
