// color variable____________________
$color-width: #fff;
$color-width-opasity: rgba(255, 255, 255, 0.8);
//blue color page
$color-main: #004af2;
//blue-darken color page
$color-main-darken: #033fc9;
$color-main-text: #000;
$color-title-text: #2c2c2c;
$color-subtitle: #464646;
//gradiet use button
$gradient-color: #ff903e, #ff2c2c;
$color-fill-button: #ff2c2c;
$color-active-link: #ff3e2f;
